# =========================
# .NET Ignore
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.log

# =========================
# Node / React Ignore
# =========================
node_modules/
.env
dist/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db